.banner {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.banner > ul {
    display: inline-block;
    padding-left: 100%;
    animation: scroll 20s linear infinite;
}

.banner > ul > li {
    display: inline;
    font-size: 30px;
    color: black;
    padding: 0 2rem;
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}