div {
  margin: 5px;
}

.wrap {
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 500px;
}

.title {
  margin-top: 30px;
  display: flex;
  margin: 30px auto;
  width: 100%;
  justify-content: center;
}

.title h1,
p {
  text-align: center;
}

.reserve_button {
  width: 100%;
}

.container {
  display: block;
  overflow: auto;
  align-content: center;
  width: 90%;
  margin-bottom: 30px;
}

.title {
  display: inline;
}

.error {
  background-color: lavenderblush;
  border-radius: 10px;
}

.error ul {
  margin: 0;
}

.error li {
  color: #ff0000;
  padding: 10px;
}

.row {
  display: flex;
  width: max-content;
  margin: 0 auto;
}

.seat {
  background-color: #b1b0ff;
  height: 4vh;
  width: 4vh;
  margin: 3px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.seat.occupied {
  background-color: #ff0000;
}

.seat.mine {
  background-color: #f6ff00;
}

.seat.selected {
  background-color: rgb(0, 255, 26);
}

.seat.empty {
  background-color: transparent;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

